#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Reagent Bank Config
########################################
#
#    ReagentBank.Enable
#        Description: Enable the reagent bank
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReagentBank.Enable = 1

# ReagentBank.AccountWide
#
# Determines whether the reagent bank is account-wide or character specific.  Can be switched back and forth without breaking things.
# default = 0
#
ReagentBank.AccountWide = 0