[worldserver]

########################################
# Reagent Bank Config
########################################
#
#    ReagentBank.Enable
#        Description: Enable the reagent bank
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReagentBank.Enable = 1
