[worldserver]

########################################
# Reagent Bank Account Config
########################################
#
#    ReagentBankAccount.Enable
#        Description: Enable the reagent bank (account-wide)
#        Default:     0 - Disabled
#                     1 - Enabled
#

ReagentBankAccount.Enable = 1
